# Data Original
data/data_original/CustomData/v.1 - Clasifikasi Class
data/data_original/CustomData/v.2 - Clasifikasi Class
data/data_original/CustomData/v.3 - CustomAksara
data/data_original/CustomData/v.4 - Clasifikasi Class
data/data_original/CustomData/v.5 - Data Custom
data/data_original/CustomData/v.7_all_data_custom

# Data Preprocessing
data/data_preprocessing/v0.1
data/data_preprocessing/v0.2
data/data_preprocessing/v0.3
data/data_preprocessing/v0.4
data/data_preprocessing/v0.5
data/data_preprocessing/v0.6
data/data_preprocessing/v0.7
data/data_preprocessing/v0.8
data/data_preprocessing/v0.9
data/data_preprocessing/v1.0
data/data_preprocessing/v1.1
data/data_preprocessing/v1.2
data/data_preprocessing/v1.3
data/data_preprocessing/v1.4
data/data_preprocessing/v1.5
data/data_preprocessing/v1.6
data/data_preprocessing/v1.7
data/data_preprocessing/v1.8
data/data_preprocessing/v1.9
data/data_preprocessing/v2.0
data/data_preprocessing/v2.1
data/data_preprocessing/v2.2
data/data_preprocessing/v2.3
data/data_preprocessing/v2.4
data/data_preprocessing/v2.5
data/data_preprocessing/v2.6 
data/data_preprocessing/v2.7
data/data_preprocessing/v2.8
data/data_preprocessing/v2.9_test_data
data/data_preprocessing/v3.0
data/data_preprocessing/v3.2_val_data
data/data_preprocessing/v3.3

# save_models
